{% extends "base.twig" %}

{% block titulo %}
    Administrador
{% endblock titulo %}

{% block cuerpo %}

    {% include "navbar.twig" %}

    <main class="container">
        {% if administradores|length > 0 %}
            <div class="table-responsive-md">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Usuario</th>
                        <th scope="col">Contrase&ntilde;a</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for administrador in administradores %}
                        <tr>
                            <th scope="row"><span id="usuario{{ administrador.idAdministrador }}">{{ administrador.usuario }}</span></th>
                            <td><span id="contrasenna{{ administrador.idAdministrador }}">{{ administrador.contrasenna }}</span></td>
                            <td><button class="btn btn-primary editarAdmin" type="button" value="{{ administrador.idAdministrador }}" data-toggle="modal" data-target="#editarAdministradorModal"><i class="material-icons align-bottom">edit</i></button>
                                <a href="index.php?c=admin&a=eliminar&administrador={{ administrador.idAdministrador }}" class="btn btn-danger ml-1" role="button"><i class="material-icons align-bottom">delete</i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </main>

    <footer class="d-flex text-muted border-top mt-2">
        <p class="col d-flex justify-content-center align-items-center px-0 my-auto"><i class="material-icons">copyright</i>
            2019 Tripod, Inc.</p>
        <div class="col d-flex justify-content-center align-items-center px-0 my-auto">
            <a href="https://github.com/tripod-egibide/reto3" target="_blank" class="text-muted"><i class="material-icons align-middle">code</i></a>
            <a href="/Documentacion/Manual%20del%20Usuario.pdf" id="ayuda" target="_blank" class="text-muted"><i class="material-icons align-middle">help_outline</i></a>
            <a id="email" href="mailto:tripod@tripod.com" class="text-muted"><i class="material-icons align-middle">email</i></a>
        </div>
    </footer>
    {% if administrador %}
        {% include "adminModal.twig" %}
    {% endif%}
{% endblock cuerpo %}
