
<div id="modalModificarPlato" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Datos del plato</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--- cuerpo del modal--->

                    <form>
                        <div class="form-group" id="zonaImagen">
                            <img class="form-control" src="" class="d-none d-md-block" alt="Egibide" id="imagen">
                        </div>
                        <div class="form-group">
                            <label for="modificarImagen">Modificar Imagen:</label>
                            <input type="file" class="form-control-file" id="modificarImagen" accept="image/*" value="Modificar Imagen">
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input class="form-control" type="text" id="nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripci&oacute;n:</label>
                            <input class="form-control" type="text" id="descripcion" required>
                        </div>
                        <div class="form-group">
                            <label for="precio">Precio:</label>
                            <input class="form-control" type="text" id="precio" required>
                        </div>
                        <div class="form-group">
                            <label for="cantidad">Pedido m&iacute;nimo:</label>
                            <input class="form-control" type="text" id="cantidad" required>
                        </div>

                        <div class="form-group">
                            <label for="medida">Formato de la medida</label>
                            <select id="medida"  class="form-control" class="form-control" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="categoria">Categoria</label>
                            <select id="categoria"  class="form-control" class="form-control" required>
                                {% for key, categoria in categorias %}
                                    <option id="cat{{ key }}">{{ categoria.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-primary" id="modificarPlato" value="Confirmar">
                        </div>
                    </form>

            </div>

        </div>
    </div>
</div>

<div id="modalEliminarPlato" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Plato</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--- cuerpo del modal--->
                <label id="atencion"></label>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-danger" id="eliminarPlato" value="Confirmar">
            </div>
        </div>
    </div>
</div>

{# Modal para insertar un plato #}
<div class="modal fade" id="altaPlatoModal" tabindex="-1" role="dialog" aria-labelledby="altaPlatoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" method="post" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="altaPlatoModalLabel">Datos del plato</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="titulo">T&iacute;tulo:</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="T&iacute;tulo" required>
                        <div class="invalid-feedback">
                            Debes introducir el t&iacute;tulo del plato.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio:</label>
                        <input type="number" class="form-control" id="precio" name="precio" placeholder="Precio" required>
                        <div class="invalid-feedback">
                            Debes introducir el precio del plato.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cantidad">Pedido m&iacute;nimo:</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="Cantidad" required>
                        <div class="invalid-feedback">
                            Debes introducir la cantidad del plato.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="notas">Notas:</label>
                        <textarea class="form-control" id="notas" rows="3" placeholder="Notas"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="categoria">Categor&iacute;a:</label>
                        <select class="form-control" id="categoria" name="categoria">
                            {% for categoria in categorias %}
                                <option value="{{ categoria.idCategoria }}">{{ categoria.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tipoVenta">Tipo de venta:</label>
                        <select class="form-control" id="tipoVenta" name="tipoVenta">
                            {% for tipoVenta in tipoVentas %}
                                <option value="{{ tipoVenta.idTipoVenta }}">{{ tipoVenta.tipoVenta }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="archivo">Archivo:</label><br />
                        <input type="file" id="archivo" name="archivo">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">A&ntilde;adir</button>
                </div>
            </form>
        </div>
    </div>
</div>

{# Modal para insertar un administrador #}
<div class="modal fade" id="altaAdminModal" tabindex="-1" role="dialog" aria-labelledby="altaAdminModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="index.php?c=admin&a=insertar" method="post" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="altaAdminModalLabel">Datos del administrador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="altaAdminUsuario">Usuario:</label>
                        <input type="text" class="form-control" id="altaAdminUsuario" name="usuario" placeholder="Usuario" required>
                        <div class="invalid-feedback">
                            Debes introducir el usuario.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="altaAdminContrasenna">Contrase&ntilde;a:</label>
                        <input type="password" class="form-control" id="altaAdminContrasenna" name="contrasenna" placeholder="Contrase&ntilde;a" required>
                        <div class="invalid-feedback">
                            Debes introducir la contrase&ntilde;a.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">A&ntilde;adir</button>
                </div>
            </form>
        </div>
    </div>
</div>

{# Modal para modificar datos de un administrador #}
<div class="modal fade" id="editarAdminModal" tabindex="-1" role="dialog" aria-labelledby="editaAdminModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="index.php?c=admin&a=actualizar" method="post" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="editarAdminModalLabel">Datos del administrador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editarAdminUsuario">Usuario:</label>
                        <input type="text" class="form-control" id="editarAdminUsuario" name="usuario" placeholder="Usuario" required>
                        <div class="invalid-feedback">
                            Debes introducir el usuario.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editarAdminContrasenna">Contrase&ntilde;a:</label>
                        <input type="password" class="form-control" id="editarAdminContrasenna" name="contrasenna" placeholder="Contrase&ntilde;a" required>
                        <div class="invalid-feedback">
                            Debes introducir la contrase&ntilde;a.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <input type="hidden" id="editarAdminId" name="idAdministrador" />
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{# Modal para insertar una categoría #}
<div class="modal fade" id="altaCategoriaModal" tabindex="-1" role="dialog" aria-labelledby="altaCategoriaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="index.php?c=categoria&a=insertar" method="post" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="altaCategoriaModalLabel">Datos de la categor&iacute;a</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="altaCategoriaNombre">Nombre:</label>
                        <input type="text" class="form-control" id="altaCategoriaNombre" name="nombre" placeholder="Nombre" required>
                        <div class="invalid-feedback">
                            Debes introducir el nombre.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="altaCategoriaEmail">Correo electr&oacute;nico del departamento:</label>
                        <input type="email" class="form-control" id="altaCategoriaEmail" name="emailDepartamento" placeholder="Correo electr&oacute;nico del departamento" required>
                        <div class="invalid-feedback">
                            Debes introducir el correo electr&oacute;nico del departamento.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">A&ntilde;adir</button>
                </div>
            </form>
        </div>
    </div>
</div>

{# Modal para modificar datos de una categoría #}
<div class="modal fade" id="editarCategoriaModal" tabindex="-1" role="dialog" aria-labelledby="editarCategoriaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="index.php?c=categoria&a=actualizar" method="post" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="editarCategoriaModalLabel">Datos de la categor&iacute;a</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editarCategoriaNombre">Nombre:</label>
                        <input type="text" class="form-control" id="editarCategoriaNombre" name="nombre" placeholder="Nombre" required>
                        <div class="invalid-feedback">
                            Debes introducir el nombre.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editarCategoriaEmail">Correo electr&oacute;nico del departamento:</label>
                        <input type="email" class="form-control" id="editarCategoriaEmail" name="emailDepartamento" placeholder="Correo electr&oacute;nico del departamento" required>
                        <div class="invalid-feedback">
                            Debes introducir el correo electr&oacute;nico del departamento.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <input type="hidden" id="editarCategoriaId" name="idCategoria" />
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{# Modal para insertar un tipo de venta #}
<div class="modal fade" id="altaTipoVentaModal" tabindex="-1" role="dialog" aria-labelledby="altaTipoVentaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="index.php?c=tipoVenta&a=insertar" method="post" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="altaTipoVentaModalLabel">Datos del tipo de venta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="altaTipoVentaNombre">Tipo de venta:</label>
                        <input type="text" class="form-control" id="altaTipoVentaNombre" name="tipoVenta" placeholder="Tipo de venta" required>
                        <div class="invalid-feedback">
                            Debes introducir el tipo de venta.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">A&ntilde;adir</button>
                </div>
            </form>
        </div>
    </div>
</div>

{# Modal para modificar un tipo de venta #}
<div class="modal fade" id="editarTipoVentaModal" tabindex="-1" role="dialog" aria-labelledby="editarTipoVentaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="index.php?c=tipoVenta&a=actualizar" method="post" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="editarTipoVentaModalLabel">Datos del tipo de venta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editarTipoVentaNombre">Tipo de venta:</label>
                        <input type="text" class="form-control" id="editarTipoVentaNombre" name="tipoVenta" placeholder="Tipo de venta" required>
                        <div class="invalid-feedback">
                            Debes introducir el tipo de venta.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <input type="hidden" id="editarTipoVentaId" name="idTipoVenta" />
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>