{% extends "base.twig" %}

{% block titulo %}
    Pedidos
{% endblock titulo %}

{% block cuerpo %}

    {% include "navbar.twig" %}


    <main class="container my-2">

        {% if pedidos|length > 0 %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo electr&oacute;nico</th>
                    <th scope="col">Tel&eacute;fono</th>
                    <th scope="col">Fecha de entrega</th>
                    <th scope="col" colspan="3" class="text-center">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td scope="row">{{ pedido.nombre }}</td>
                    <td>{{ pedido.apellidos }}</td>
                    <td>{{ pedido.email }}</td>
                    <td>{{ pedido.telefono }}</td>
                    <td>{{ pedido.fechaEntrega }}</td>
                    <td>{% if pedido.confirmado == 0 %}<button class="btn btn-outline-primary" value="{{ pedido.idPedido }}">Confirmar</button>{% else %}<i class="material-icons align-bottom">done</i>{% endif %}</td>
                    <td><button class="btn btn-outline-primary verPedido" value="{{ pedido.idPedido }}">Ver pedido</button></td>
                    <td><button class="btn btn-outline-danger eliminarPedido" value="{{ pedido.idPedido }}"><i class="material-icons align-bottom">delete</i></button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </main>

    <footer class="col col-lg-7 offset-lg-2 d-flex text-muted position-absolute">
        <p class="col d-flex justify-content-center align-items-center px-0 my-auto"><i class="material-icons">copyright</i>
            2019 Tripod, Inc.
        </p>
        <div class="col d-flex justify-content-center align-items-center px-0 my-auto">
            <a href="https://github.com/tripod-egibide/reto3" target="_blank" class="text-muted"><i class="material-icons align-middle">code</i></a>
            <a href="/Documentacion/Manual%20del%20Usuario.pdf" id="ayuda" target="_blank" class="text-muted"><i class="material-icons align-middle">help_outline</i></a>
            <a id="email" href="mailto:tripod@tripod.com" class="text-muted"><i class="material-icons align-middle">email</i></a>
        </div>
    </footer>

    {% if administrador %}
        {% include "pedidoModal.twig" %}
    {% endif%}

{% endblock cuerpo %}