{% extends "base.twig" %}

{% block titulo %}
    Pedidos
{% endblock titulo %}

{% block cuerpo %}

    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top border-bottom">
        <a class="navbar-brand" href="index.php"><img src="/reto3/img/logo-restaurant.png" alt="Egibide Hostelería" height=32px></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-center">
                    <a class="nav-link" href="https://www.egibide.org/campus-mendizorrotza/">Contacto</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="https://www.egibide.org/">Egibide</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="/reto3/?c=admin&a=logout" id="cerrar-sesion">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </nav>


    <main class="container my-2">

        {% if pedidos|length > 0 %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo electr&oacute;nico</th>
                    <th scope="col">Tel&eacute;fono</th>
                    <th scope="col">Fecha de entrega</th>
                    <th scope="col" colspan="3" class="text-center">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td scope="row">{{ pedido.nombre }}</td>
                    <td>{{ pedido.apellidos }}</td>
                    <td>{{ pedido.email }}</td>
                    <td>{{ pedido.telefono }}</td>
                    <td>{{ pedido.fechaEntrega }}</td>
                    <td>{% if pedido.confirmado == 0 %}<button class="btn btn-outline-primary confirmarPedido" value="{{ pedido.idPedido }}">Confirmar</button>{% else %}<i class="material-icons align-bottom">done</i>{% endif %}</td>
                    <td><button class="btn btn-outline-primary verPedido" value="{{ pedido.idPedido }}">Ver pedido</button></td>
                    <td><button class="btn btn-outline-danger eliminarPedido" value="{{ pedido.idPedido }}"><i class="material-icons align-bottom">delete</i></button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </main>

    <footer class="col col-lg-7 offset-lg-2 d-flex text-muted position-absolute">
        <p class="col d-flex justify-content-center align-items-center px-0 my-auto"><i class="material-icons">copyright</i>
            2019 Tripod, Inc.
        </p>
        <div class="col d-flex justify-content-center align-items-center px-0 my-auto">
            <a href="https://github.com/tripod-egibide/reto3" target="_blank" class="text-muted"><i class="material-icons align-middle">code</i></a>
            <a href="/Documentacion/Manual%20del%20Usuario.pdf" id="ayuda" target="_blank" class="text-muted"><i class="material-icons align-middle">help_outline</i></a>
            <a id="email" href="mailto:tripod@tripod.com" class="text-muted"><i class="material-icons align-middle">email</i></a>
        </div>
    </footer>

        {% include "pedidoModal.twig" %}

{% endblock cuerpo %}